<div [class]="{
    status: true,
'status-online': currentStatus === 'online',
'status-offline': currentStatus === 'offline',
'status-unknown': currentStatus === 'unknown'
}" [style]="{
    backgroundColor: currentStatus === 'offline' ? '#f44336' : '#8bc34a'
}" [style.textDecoration]="'underline'">
    @if (currentStatus === 'online') {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
    } @else if (currentStatus === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
    } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
    }
</div>
<div>
    <p>(SIGNAL) Server status is {{ this.currentStatusSignal() }}</p>
</div>